body {
    margin: 0;
    padding: 0;
}

.youtube-logo {
    width: 100px;
}

i {
    font-size: 150%;
}

#nav-bar{
    height: 56px;
    display: flex;
    box-shadow: 0px 0px 0px 3px rgba(226, 226, 226, 0.25);
}

#nav-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
}

#menu-logo {
    float: left;
}

.right {
    float: right;
}

input {
    width: 500px;
    height: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#nav-search {
    text-align: center;
}

#nav-icons {
text-align: right;
}

li{
    list-style-type: none;
}

.navbar{
    background-color: white;
    box-shadow: 0px 0px 0px 3px rgba(226, 226, 226, 0.25);
    height: 50px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.form-control {
    width: 600px;
}

a {
    color: black;
}

a:hover {
    color: black;
    background-color: white;
}

#sign-in {
    padding: 5px 20px;
    color: blue;
    background-color: white;
    border-color: blue;
}

#media{
    padding-left: 80px;
    padding-top: 65px;
}

.title{
    margin: 0;
    padding-left: 80px;
    height: 80px;
    width: 1000px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

#views{
    color: rgb(100, 100, 100);
}

#video-options{
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #606060;
    width: 250px;
    float: right;
}

#video-options > i{
    margin: 2px;
}

#description {
    padding-left: 80px;
}

#description{
    width: 1000px;
    vertical-align: middle;
}

section{
    /* float: left;
    width: 30%; */
}

section > i{
    font-size: 50px;
}

section > h3{
    font-size: 16px;
}

#video-text{
    float: right;
}

#leftbox { 
    float:left;  
    width:7%; 
    height:60px; 
} 
#middlebox{ 
    float:left;  
    width:75%; 
    height:60px; 
} 
#rightbox{ 
    vertical-align: middle;
    float:right; 
    width:18%; 
    height:60px; 
}

#subscribe-button {
    background-color: red;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 20px;
}

#video-text {
    padding-left: 80px;
    float: left;
    width: 1000px;
}

#comment-section {
    padding-left: 80px;
    float: left;
    width: 1000px;
}

#comments-info {
    width: 1000px;
}

#left-comment-section{ 
    float:left;  
    width:12%; 
    height:60px; 
} 
#right-comment-section{ 
    float:right; 
    width:88%; 
    height:60px; 
    font-size: 15px;
}

#right-comment-section > i {
    font-size: 17px;
}

#comment-box > i {
    font-size: 35px;
}

#left-box{
    float: left;
    width: 70%;
}

#right-box{
    padding-top: 65px;
    float: right;
    width: 30%;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.leftpart-rightbox {
    width: 30%;
    float: left;
    height: 100px;
}

.thumbnail-image {
    width: 162px;
    height: 94px;
}

.rightpart-rightbox {
    width: 70%;
    float: right;
    height: 100px;
}

.metadata-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 26px;
}

.metadata-title > a {
    text-decoration: none;
}

.metadata-channel{
    font-weight: normal;
    color: gray;
    font-size: 12px;
    letter-spacing: .1px;
    margin-left: 26px;

}