body {
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

i {
    font-size: 150%;
}

#nav-bar{
    height: 56px;
    display: flex;
    box-shadow: 0px 0px 0px 3px rgba(226, 226, 226, 0.25);
}

#nav-bar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
}

#menu-logo {
    float: left;
}

.right {
    float: right;
}

input {
    width: 500px;
    height: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#nav-search {
    text-align: center;
}

#nav-icons {
text-align: right;
}

li{
    list-style-type: none;
}

.navbar{
    background-color: white;
    box-shadow: 0px 0px 0px 3px rgba(226, 226, 226, 0.25);
    height: 50px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.form-control {
    width: 600px;
}

a {
    color: black;
}

a:hover {
    color: black;
    background-color: white;
}

#sign-in {
    padding: 5px 20px;
    color: blue;
    background-color: white;
    border-color: blue;
}

#media{
    padding-left: 80px;
    padding-top: 65px;
}

.title{
    margin: 0;
    padding-left: 80px;
    height: 80px;
    width: 1000px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

#views{
    color: rgb(100, 100, 100);
}

#video-options{
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #606060;
    width: 250px;
    float: right;
}

#video-options > i{
    margin: 2px;
}

#description {
    padding-left: 80px;
}

#description{
    width: 1000px;
}

section{
    /* float: left;
    width: 30%; */
}

section > i{
    font-size: 50px;
}

section > h3{
    font-size: 16px;
}

#video-text{
    float: right;
}

#leftbox { 
    float:left;  
    background:Red; 
    width:7%; 
    height:60px; 
} 
#middlebox{ 
    float:left;  
    background:Green; 
    width:78%; 
    height:60px; 
} 
#rightbox{ 
    float:right; 
    background:blue; 
    width:15%; 
    height:60px; 
} 